nav.ink-navigation.ink-sticky
    ul.menu.horizontal.blue
        li.push-left.hide-all.show-tiny.show-small.show.medium
            button.fa.fa-bars.left-drawer-trigger
        .push-left.hide-small.hide-tiny.hide-medium
            li
                a(href="/") Home
            li
                a(href="/events") Events
            li
                a(href="/contactus") Contact Us
            li
                a(href="/contact") Our Staff
            li
                a(href="/sigs") SIGS
            li
                a(href="https://www.facebook.com/ufacm/" target="_blank")
                    i.fa.fa-facebook.fa-lg(aria-hidden="true")
                    span.sr-only Facebook
            li
                a(href="https://www.instagram.com/uf.acm/" target="_blank")
                    i.fa.fa-instagram.fa-lg(aria-hidden="true")
                    span.sr-only Instagram
        .push-right.hide-small.hide-tiny.hide-medium
            if !user
                li
                    a.login Log In
                li
                    a.signup Sign Up
            else
                li
                    a(href="/profile") Profile
                li
                    a(href="/logout") Log Out
