.ink-shade.fade
    .ink-modal.fade#signupModal(data-trigger=".signup" data-width="80%" data-height="80%" role="dialog" aria-hidden="true" aria-labelled-by="signup-title")
        .modal-header
            button.modal-close.ink-dismiss
            h2#login-title Sign Up
        .modal-body#signupContent
            form.ink-form.ink-formvalidator#signupForm(method="post" action="/signup")
                .column-group.gutters
                    .control-group.required.all-50
                        label(for="fname") First Name
                        .control
                            input#fname(type="text" name="firstName" data-rules="required|alpha_dash")
                .column-group.gutters
                    .control-group.required.all-50
                        label(for="email") Email
                        .control
                            input#email(type="text" name="email" data-rules="required|email")
                    .control-group.all-50
                        label(for="phone") Phone
                        .control
                            input#phone(type="text" name="phoneNumber" data-rules="min_length[10]|max_length[11]")
                .control-group(style="margin-bottom: 0;")
                    p.label Would you like to be put on the ACM list serve?
                    ul.control.unstyled
                        li
                            input#LSYes(type="radio" class="SignUpButtonFix" name="listServe" value="true")
                            label(for="rb1") Yes
                            input#LSNo(type="radio" class="SignUpButtonFix" name="listServe" value="false")
                            label(for="rb2") No
                            input#LSAlreadyOnIt(type="radio" class="SignUpButtonFix" name="listServe" value="true")
                            label(for="rb3") Already on it!
                .column-group.gutters
                    .control-group.required.all-50
                        label(for="pass") Password
                        .control
                            input#pass(type="password" name="password" data-rules="required|min_length[8]")
                    .control-group.required.all-50
                        label(for="confpass") Confirm Password:
                        .control
                            input#confpass(type="password" name="password confirmation" data-rules="required|matches[password]" data-label="password confirmation")
                input.ink-button.success(type="submit" name="sub" value="Submit")
