.ink-alert.block.info(role="alert")
    button.ink-dismiss
        != '&times;'
    h4= 'Site under construction'
    p= 'What you are seeing is still an unfinished product. A new, complete, polished site is coming soon!'
