
extends templates/template.pug
block append heading
    title Special Interest Groups | UF ACM
    link(rel="stylesheet" href="css/sigs.css" media="screen")
block content
    .ink-grid.sig-grid
        h1.sig-header Special Interest Groups
        .column-group.sig-group
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.ufpt
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.sec
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-blocn.hackathoners
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.ftp
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.ai
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.vr
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.sit
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.das
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.ftg
            .tiny-100.small-100.medium-50.large-20.xlarge-20.sig-block.osc

block append scripts
    script.
