extends templates/template.pug
block append heading
    title Special Interest Groups | UF ACM
    link(rel="stylesheet" href="css/sigs.css" media="screen")
block content
    include ./includes/siteUnderConstruction
    .ink-grid.sig-grid
        h1.sig-header Special Interest Groups
        ul
            li
                a(href="https://www.facebook.com/groups/ufprogteam/" target="_blank") UF Programming Team
            li
                a(href="http://ufsec.com/" target="_blank") UF Software Engineering Club
            li
                a(href="https://www.facebook.com/groups/1499711090349840/" target="_blank") UF Hackathoners
            li
                a(href="https://www.facebook.com/groups/1695957843991327/" target="_blank") First Time Programmers
            li
                a(href="https://www.facebook.com/groups/UFAIClub/" target="_blank") UF Artificial Intelligence Club
            li
                a(href="https://www.facebook.com/groups/1050011381726686/" target="_blank") Gator VR
            li
                a(href="https://www.facebook.com/groups/ufdas/" target="_blank") UF Digital Arts and Sciences Club
            li
                a(href="https://www.facebook.com/groups/1831203810447278/" target="_blank") UF Financial Technology Group
            li
                a(href="https://www.facebook.com/groups/162833737423706/" target="_blank") UF Open Source Club
