extends templates/template.pug
block append heading
    title Special Interest Groups | UF ACM
    link(rel="stylesheet" href="css/sigs.css" media="screen")

var sigArray = [
    {
        sigName: 
    }
]

block content
    .ink-grid.sig-grid
        h1.sig-header Special Interest Groups
        .column-group.sig-group
            each sig in sigArray
                

block append scripts
    script.
