doctype html
html
    head
        block heading
            meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
            link(rel="icon" type = "image/x-icon" href="img/favicon.png")
            // Ink Flexbox support
            link(rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css")
            <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="ink-ie.min.css" type="text/css">
            <![endif]-->
            link(rel="stylesheet" href="css/style.css" media="screen")
            script(src="https://use.fontawesome.com/cb1f156474.js")
    body
        include ../includes/navBarModalBundle
        block content
        block scripts
            script(src="https://code.jquery.com/jquery-2.1.1.min.js")
            script(type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js")
            //- script(type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/autoload.js")
            script(type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/modernizr.js")
            script(type="text/javascript" src="js/bin/parallax.min.js")
            script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
            script(type="text/javascript" src="js/script.js")
