.sig-grid{
    margin-left: 0;
    margin-right: 0;
}

.sig-header{
    text-align: center;
}
.sig-block{
    height: 300px;
}

.sig-group{
    width: 100%;
}

.ufpt{
    background-image: url("/img/ufpt.jpg");
    background-size: cover;
}

.sec{
    background-image: url("/img/sec.jpg");
    background-size: cover;
}

.hackathoners{
    background-image: url("/img/hackathoners.jpg");
    background-size: cover;
}

.ftp{
    background-image: url("/img/ftp.jpg");
    background-size: cover;
}

.ai{
    background-image: url("/img/ai.jpg");
    background-size: cover;
}

.vr{
    background-image: url("/img/vr.jpg");
    background-size: cover;
}

.sit{
    background-image: url("/img/sit.jpg");
    background-size: cover;
}

.das{
    background-image: url("/img/das.jpg");
    background-size: cover;
}

.ftg{
    background-image: url("/img/ftg.jpg");
    background-size: cover;
}

.osc{
    background-image: url("/img/osc.jpg");
    background-size: cover;
}
